name: Flame CI
on: [push, pull_request]
env:
  CLICOLOR_FORCE: 1
jobs:
  ci:
    name: E2E Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        rust: [stable]
        os: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install gRPC
        run: |
          sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - name: Install cargo-make
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --debug cargo-make
      - name: Setup Kind Cluster
        uses: helm/kind-action@v1
        with:
          config: ~/work/flame/flame/ci/kind.conf
      - name: Build and Load images
        run: |
          make
          kind load docker-image xflops/flame-session-manager:v0.3.0
          kind load docker-image xflops/flame-executor-manager:v0.3.0
      - name: Deploy Flame
        run: |
          kubectl apply -k installer/
      - name: Run E2E Test
        run: |
          cargo make test
