apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - flame-executor-manager.yaml
  - flame-session-manager.yaml
  - fsm-service.yaml
configMapGenerator:
  - name: flame-conf
    files:
      - flame-conf.yaml