apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flame-system
resources:
  - flame-system.yaml
  - flame-executor-manager.yaml
  - flame-session-manager.yaml
  - flame-console.yaml
  - fsm-service.yaml
configMapGenerator:
  - name: flame-conf
    files:
      - flame-conf.yaml
generatorOptions:
  disableNameSuffixHash: true
